.kwt0 {
    width: 0%;
}

.kwt1 {
    width: 1%;
}

.kwt2 {
    width: 2%;
}

.kwt3 {
    width: 3%;
}

.kwt4 {
    width: 4%;
}

.kwt5 {
    width: 5%;
}

.kwt6 {
    width: 6%;
}

.kwt7 {
    width: 7%;
}

.kwt8 {
    width: 8%;
}

.kwt9 {
    width: 9%;
}

.kwt10 {
    width: 10%;
}

.kwt11 {
    width: 11%;
}

.kwt12 {
    width: 12%;
}

.kwt13 {
    width: 13%;
}

.kwt14 {
    width: 14%;
}

.kwt15 {
    width: 15%;
}

.kwt16 {
    width: 16%;
}

.kwt17 {
    width: 17%;
}

.kwt18 {
    width: 18%;
}

.kwt19 {
    width: 19%;
}

.kwt20 {
    width: 20%;
}

.kwt21 {
    width: 21%;
}

.kwt22 {
    width: 22%;
}

.kwt23 {
    width: 23%;
}

.kwt24 {
    width: 24%;
}

.kwt25 {
    width: 25%;
}

.kwt26 {
    width: 26%;
}

.kwt27 {
    width: 27%;
}

.kwt28 {
    width: 28%;
}

.kwt29 {
    width: 29%;
}

.kwt30 {
    width: 30%;
}

.kwt31 {
    width: 31%;
}

.kwt32 {
    width: 32%;
}

.kwt33 {
    width: 33%;
}

.kwt34 {
    width: 34%;
}

.kwt35 {
    width: 35%;
}

.kwt36 {
    width: 36%;
}

.kwt37 {
    width: 37%;
}

.kwt38 {
    width: 38%;
}

.kwt39 {
    width: 39%;
}

.kwt40 {
    width: 40%;
}

.kwt41 {
    width: 41%;
}

.kwt42 {
    width: 42%;
}

.kwt43 {
    width: 43%;
}

.kwt44 {
    width: 44%;
}

.kwt45 {
    width: 45%;
}

.kwt46 {
    width: 46%;
}

.kwt47 {
    width: 47%;
}

.kwt48 {
    width: 48%;
}

.kwt49 {
    width: 49%;
}

.kwt50 {
    width: 50%;
}

.kwt51 {
    width: 51%;
}

.kwt52 {
    width: 52%;
}

.kwt53 {
    width: 53%;
}

.kwt54 {
    width: 54%;
}

.kwt55 {
    width: 55%;
}

.kwt56 {
    width: 56%;
}

.kwt57 {
    width: 57%;
}

.kwt58 {
    width: 58%;
}

.kwt59 {
    width: 59%;
}

.kwt60 {
    width: 60%;
}

.kwt61 {
    width: 61%;
}

.kwt62 {
    width: 62%;
}

.kwt63 {
    width: 63%;
}

.kwt64 {
    width: 64%;
}

.kwt65 {
    width: 65%;
}

.kwt66 {
    width: 66%;
}

.kwt67 {
    width: 67%;
}

.kwt68 {
    width: 68%;
}

.kwt69 {
    width: 69%;
}

.kwt70 {
    width: 70%;
}

.kwt71 {
    width: 71%;
}

.kwt72 {
    width: 72%;
}

.kwt73 {
    width: 73%;
}

.kwt74 {
    width: 74%;
}

.kwt75 {
    width: 75%;
}

.kwt76 {
    width: 76%;
}

.kwt77 {
    width: 77%;
}

.kwt78 {
    width: 78%;
}

.kwt79 {
    width: 79%;
}

.kwt80 {
    width: 80%;
}

.kwt81 {
    width: 81%;
}

.kwt82 {
    width: 82%;
}

.kwt83 {
    width: 83%;
}

.kwt84 {
    width: 84%;
}

.kwt85 {
    width: 85%;
}

.kwt86 {
    width: 86%;
}

.kwt87 {
    width: 87%;
}

.kwt88 {
    width: 88%;
}

.kwt89 {
    width: 89%;
}

.kwt90 {
    width: 90%;
}

.kwt91 {
    width: 91%;
}

.kwt92 {
    width: 92%;
}

.kwt93 {
    width: 93%;
}

.kwt94 {
    width: 94%;
}

.kwt95 {
    width: 95%;
}

.kwt96 {
    width: 96%;
}

.kwt97 {
    width: 97%;
}

.kwt98 {
    width: 98%;
}

.kwt99 {
    width: 99%;
}

.kwt100 {
    width: 100%;
}

.konyfw_baseskincss,
.CopydefBtnNormal0hf82e56bdb8743,
.blueButtonSkin0d4000cd2ae1b47,
.blueButtonSkinFocus0i657d7bec22147,
.headerButtonSkin0ed30805f52da4e,
.s66d54d8fd214418af6b78b69df07226,
.s9551e30356f4b4baa65ca71d592e1c4,
.sb2281dc29db4c0188e76a162ccd2da8,
.sd12a8775c614854b3437892fb59b299,
.CopydefLabel0a0bbe7f462be42,
.CopydefLabel0a895e86236594f,
.CopydefLabel0a9b9d0b4a87841,
.CopydefLabel0aa777a08868945,
.CopydefLabel0e117a4d247624b,
.CopydefLabel0f85b3c01ab6240,
.CopydefLabel0f96982f765a247,
.CopydefLabel0h6d6fa430c5346,
.CopydefLabel0i0fcd4db0e2d44,
.CopydefLabel0j084b89bfd3446,
.CopydefLabel0jab90b0fff5748,
.defLabel0d32d73ceb7b749,
.s3684666ce1b4e2cb15c0f0cbfccb74b,
.s715e463923b475492ed8f30b1b793fb,
.s73602972652425a9992ed67d6b3c666,
.s74fe7a9641e4e21912b20f0ca065918,
.s837890898e9462ea0538d05d911ef27,
.s9598afbc3744cb4846c06b6257f8bc2,
.sac69aea5b244b03bb91c1c57f80b601,
.sbc5d1e1e21d4ca68c2d30e0cb40deb0,
.sbf8806e72ce4fc294c07050be719588,
.sc0f0751eb6a4723b0bdf771374359b6,
.sd3d90663182473f9763a59a3edfee9b,
.sdc0234dc91d44e3a51a9645f796fb02,
.sknLblDescription,
.sknLblRowHeading,
.sknLblStrip,
.sknLblTimeStamp,
.sknSectionHeaderLabelSkin,
.CopydefTextBoxNormal0e0037a5ab7684c,
.CopydefTextBoxPlaceholder0ba9a1ade33fa48,
.CopydefTextBoxPlaceholder0eb6d9522d9604e,
.loginFieldSkin0ea3f8c58621e49,
.loginFieldSkinFocus0j61c4060ce7d4f,
.s0ac9845f12548b18801c955c5d35f28,
.s2f41a84d44041cab8d826f34ffd00a4,
.s4e6f5615c8e43379d14e9aeb2266633,
.sa47d6356a044145826c389533e9217a,
.slForm,
.slWatchForm {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    border: none;
    background: transparent;
}

.konycustomcss {
    font-size: 16px;
}

.CopydefBtnNormal0hf82e56bdb8743 {
    font: normal normal 24.0px Helvetica;
    color: #ffffff;
    background: rgba(75, 136, 241, 0.38);
}

.CopydefLabel0a0bbe7f462be42 {
    font: normal normal 32.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0a895e86236594f {
    font: normal normal 16.0px Helvetica;
    color: #939393;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0a9b9d0b4a87841 {
    font: normal normal 0.2px Helvetica;
    color: rgba(51, 51, 51, 0.0);
    background-color: #e6e6e6;
}

.CopydefLabel0aa777a08868945 {
    font: normal bold 26.1px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0e117a4d247624b {
    font: normal bold 20.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0f85b3c01ab6240 {
    font: normal bold 20.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0f96982f765a247 {
    font: normal normal 18.1px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0h6d6fa430c5346 {
    font: normal normal 18.1px Helvetica;
    color: #939393;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0i0fcd4db0e2d44 {
    font: normal normal 20.0px Helvetica;
    color: #939393;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0j084b89bfd3446 {
    font: normal bold 32.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefLabel0jab90b0fff5748 {
    font: normal normal 16.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.CopydefTextBoxNormal0e0037a5ab7684c {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxNormal0e0037a5ab7684c']::-webkit-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxNormal0e0037a5ab7684c']::-moz-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxNormal0e0037a5ab7684c']:-ms-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

.CopydefTextBoxPlaceholder0ba9a1ade33fa48 {
    border: 1px solid #333333;
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0ba9a1ade33fa48']::-webkit-input-placeholder {
    border: 1px solid #333333;
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0ba9a1ade33fa48']::-moz-placeholder {
    border: 1px solid #333333;
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0ba9a1ade33fa48']:-ms-input-placeholder {
    border: 1px solid #333333;
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

.CopydefTextBoxPlaceholder0eb6d9522d9604e {
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0eb6d9522d9604e']::-webkit-input-placeholder {
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0eb6d9522d9604e']::-moz-placeholder {
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

input[kplaceholderskin='CopydefTextBoxPlaceholder0eb6d9522d9604e']:-ms-input-placeholder {
    font: normal normal 17.1px iphoneSystem;
    color: #999999;
    background-color: #ffffff;
    -webkit-appearance: none;
}

.CopydetailContainerSkin0a13df98e16e140 {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.Copyseg0f4fd1b37c27642 {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: #0066ff;
}

.Copyseg0f4fd1b37c27642grp {
    background-color: #0066ff;
    border: 0px solid #000000;
    color: #000000;
}

.Copyseg0f4fd1b37c27642pg {
    border: 0px solid #000000;
}

.CopyslFbox0f1285b7c95524b {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.blueButtonSkin0d4000cd2ae1b47 {
    border: 1px solid #2c90d5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal normal 17.6px Helvetica;
    color: #ffffff;
    background: #2c90d5;
}

.blueButtonSkinFocus0i657d7bec22147 {
    border: 1px solid #0b3957;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal normal 17.6px Helvetica;
    color: #ffffff;
    background: #0b3957;
}

.defLabel0d32d73ceb7b749 {
    font: normal 400 32.0px Helvetica;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.0);
}

.headerButtonSkin0ed30805f52da4e {
    font: normal normal 24.0px Helvetica;
    color: #ffffff;
    background: rgba(75, 136, 241, 0.0);
}

.loginFieldSkin0ea3f8c58621e49 {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkin0ea3f8c58621e49']::-webkit-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkin0ea3f8c58621e49']::-moz-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkin0ea3f8c58621e49']:-ms-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

.loginFieldSkinFocus0j61c4060ce7d4f {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkinFocus0j61c4060ce7d4f']::-webkit-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkinFocus0j61c4060ce7d4f']::-moz-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='loginFieldSkinFocus0j61c4060ce7d4f']:-ms-input-placeholder {
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

.s0ac9845f12548b18801c955c5d35f28 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s0ac9845f12548b18801c955c5d35f28']::-webkit-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s0ac9845f12548b18801c955c5d35f28']::-moz-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s0ac9845f12548b18801c955c5d35f28']:-ms-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

.s0b37a1b755b4b009596468ddb4a59ad {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s0e86ee22e3c4066aa8d212a7604edac {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s1c7bf83c3fd4fdeb7f8173ff4c74312 {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.s1c7bf83c3fd4fdeb7f8173ff4c74312grp {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px solid #000000;
    color: #000000;
}

.s1c7bf83c3fd4fdeb7f8173ff4c74312pg {
    border: 0px solid #000000;
}

.s2f41a84d44041cab8d826f34ffd00a4 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s2f41a84d44041cab8d826f34ffd00a4']::-webkit-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s2f41a84d44041cab8d826f34ffd00a4']::-moz-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s2f41a84d44041cab8d826f34ffd00a4']:-ms-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

.s30808691a9f42b18f4745f2475ba599 {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.s30808691a9f42b18f4745f2475ba599grp {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px solid #000000;
    color: #000000;
}

.s30808691a9f42b18f4745f2475ba599pg {
    border: 0px solid #000000;
}

.s3684666ce1b4e2cb15c0f0cbfccb74b {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s391674bfaee4019b7685fbeb8563c46 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s4e6f5615c8e43379d14e9aeb2266633 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s4e6f5615c8e43379d14e9aeb2266633']::-webkit-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s4e6f5615c8e43379d14e9aeb2266633']::-moz-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='s4e6f5615c8e43379d14e9aeb2266633']:-ms-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

.s50381c3a8ec4f6082eea858f80d8d1d {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s66d54d8fd214418af6b78b69df07226 {
    font: normal normal 16.0px Helvetica;
    background: rgba(0, 0, 0, 0.0);
}

.s6dabf7df7864a9c813a161ba820ae90 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s715e463923b475492ed8f30b1b793fb {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s73602972652425a9992ed67d6b3c666 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s74fe7a9641e4e21912b20f0ca065918 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s79e38f7b1ef46d695686bf9fd32206e {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s837890898e9462ea0538d05d911ef27 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s885175750ad4aadb8eb8e212e60e631 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s9157b99890d465bad3e49792d1c0145 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s9551e30356f4b4baa65ca71d592e1c4 {
    font: normal normal 16.0px Helvetica;
    background: rgba(0, 0, 0, 0.0);
}

.s9598afbc3744cb4846c06b6257f8bc2 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.s95d07839b024e99ba223917c16d5bf1 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.s9e5b88f4628410d9fbdb5cdc2e49a4c {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.sa47d6356a044145826c389533e9217a {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='sa47d6356a044145826c389533e9217a']::-webkit-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='sa47d6356a044145826c389533e9217a']::-moz-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

input[kplaceholderskin='sa47d6356a044145826c389533e9217a']:-ms-input-placeholder {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-appearance: none;
}

.sac69aea5b244b03bb91c1c57f80b601 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sb2281dc29db4c0188e76a162ccd2da8 {
    font: normal normal 16.0px Helvetica;
    background: rgba(0, 0, 0, 0.0);
}

.sbc5d1e1e21d4ca68c2d30e0cb40deb0 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sbf8806e72ce4fc294c07050be719588 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sc0f0751eb6a4723b0bdf771374359b6 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sd12610ea56e442898f2e075a44e8725 {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.0);
}

.sd12610ea56e442898f2e075a44e8725grp {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px solid #000000;
    color: #000000;
}

.sd12610ea56e442898f2e075a44e8725pg {
    border: 0px solid #000000;
}

.sd12a8775c614854b3437892fb59b299 {
    font: normal normal 16.0px Helvetica;
    background: rgba(0, 0, 0, 0.0);
}

.sd3d90663182473f9763a59a3edfee9b {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sdc0234dc91d44e3a51a9645f796fb02 {
    font: normal normal 16.0px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.seg0a39b82eb568144 {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: #ffffff;
}

.seg0a39b82eb568144grp {
    background-color: #ffffff;
    border: 0px solid #000000;
    color: #000000;
}

.seg0a39b82eb568144pg {
    border: 0px solid #000000;
}

.sepLineSkin0a34a34d9be474f {
    border: 0px solid #000000;
    color: #000000;
    background-color: #e3e3e3;
}

.sepLineSkin0hba627e175be4e {
    border: 0px solid #000000;
    color: #000000;
    background-color: #e3e3e3;
}

.sknLblDescription {
    font: normal normal 14.7px Helvetica;
    color: #575757;
    background-color: rgba(0, 0, 0, 0.0);
}

.sknLblRowHeading {
    font: normal bold 17.1px Helvetica;
    background-color: rgba(0, 0, 0, 0.0);
}

.sknLblStrip {
    font: normal normal 11.2px Helvetica;
    color: #4b88f1;
    background-color: #4b88f1;
}

.sknLblTimeStamp {
    font: normal normal 14.7px Helvetica;
    color: #8e8e8e;
    background-color: rgba(0, 0, 0, 0.0);
}

.sknSampleRowTemplate {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.sknSampleSectionHeaderTemplate {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.sknSectionHeaderLabelSkin {
    font: normal bold 20.0px Helvetica;
    background-color: rgba(148, 1, 148, 0.0);
}

.slDynamicNotificationForm {
    font: normal normal 16.0px Helvetica;
    color: #000000;
    background-color: #000000;
}

.slFbox {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.slFbox0b1a5ece8806245 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.slFbox0d637e0536e5447 {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.slForm {
    background-color: #ffffff;
}

.slImage0a47cda185d6d4d {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.slImage0gb816969cc064b {
    border: 0px solid #000000;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.0);
}

.slStaticNotificationForm {
    font: normal normal 16.0px Helvetica;
    color: #000000;
    background-color: #000000;
}

.slTitleBar {
    font: normal normal 16.0px Helvetica;
    color: #333333;
    background-color: #ffffff;
}

.slWatchForm {
    background-color: #000000;
}

.sliPhoneSegmentHeader0ddaa5d93e0714d {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: #a7a7a7;
}

.sliPhoneSegmentHeader0ddaa5d93e0714dgrp {
    background-color: #a7a7a7;
    border: 0px solid #000000;
    color: #000000;
}

.sliPhoneSegmentHeader0ddaa5d93e0714dpg {
    border: 0px solid #000000;
}

.whiteContainerSkin0ec6b7298696248 {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

.whiteContainerSkin0ffc107abfdd44c {
    border: 0px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

#frmListDetails_headerLogoutButton:active:not([kdisabled='true']),
#frmListDetails_detailsLogoutButton:active:not([kdisabled='true']) {
    border: 0px solid #ffffff;
    font: normal normal 24.0px Helvetica;
    color: #ffffff;
    background: rgba(75, 136, 241, 0.38);
}

#frmListDetails_headerBackButton:active:not([kdisabled='true']),
#frmListDetails_detailsPrevButton:active:not([kdisabled='true']) {
    border: 0px solid #ffffff;
    font: normal normal 24.0px Helvetica;
    color: #ffffff;
    background: rgba(75, 136, 241, 0.0);
}

#frmListDetails_employeeSegment [index]:active:not([kdisabled='true']) {
    margin: 0px;
    border-bottom: 0px solid #000000;
    font: normal normal 16.0px Helvetica;
    color: #000000;
    list-style: none;
    background-color: #0066ff;
}

#frmLogin_usernameTextbox:focus:not([kdisabled='true']) {
    border: 0px solid #333333;
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

#frmLogin_passwordTextbox:focus:not([kdisabled='true']) {
    border: 0px solid #333333;
    font: normal normal 17.1px Helvetica;
    color: #333333;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-appearance: none;
}

#frmLogin_loginButton:active:not([kdisabled='true']) {
    border: 1px solid #0b3957;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal normal 17.6px Helvetica;
    color: #ffffff;
    background: #0b3957;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: #FFFFFF;
    color: #000000;
    overflow-x: hidden;
    -o-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100%;
}

form {
    -webkit-overflow-scrolling: touch
}


/* Layout classes */

.kbasemargin {
    margin: 0px;
}

.kbasepadding {
    padding: 0px;
}

.kheight {
    min-height: 28px;
}

.kselect {
    height: 28px;
}

.kwt100 {
    width: 100%;
}

.ktable {
    display: table;
    table-layout: fixed;
}

.krow {
    display: table-row;
    height: 40%;
}

.kcell {
    display: table-cell;
}

.hide {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.show {
    display: block;
}

.auto {
    width: auto;
}


/* Alignment classes */

.topleftalign {
    text-align: left;
    vertical-align: top;
}

.toprightalign {
    text-align: right;
    vertical-align: top;
}

.topcenteralign {
    text-align: center;
    vertical-align: top;
}

.middleleftalign {
    text-align: left;
    vertical-align: middle;
}

.middlerightalign {
    text-align: right;
    vertical-align: middle;
}

.middlecenteralign {
    text-align: center;
    vertical-align: middle;
}

.bottomleftalign {
    text-align: left;
    vertical-align: bottom;
}

.bottomrightalign {
    text-align: right;
    vertical-align: bottom;
}

.bottomcenteralign {
    text-align: center;
    vertical-align: bottom;
}

.cntbottomcenteralign {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: end;
}

.cntbottomleftalign {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    display: -ms-flexbox;
    -ms-flex-pack: start -ms-flex-align: end;
}

.cntbottomrightalign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: end;
}

.cntmiddlecenteralign {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
}

.cntmiddleleftalign {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: start;
    -ms-flex-align: center;
}

.cntmiddlerightalign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: center;
}

.cnttopcenteralign {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: start;
}

.cnttopleftalign {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: -ms-flexbox;
    -ms-flex-pack: start;
    -ms-flex-align: start;
}

.cnttoprightalign {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    display: -ms-flexbox;
    -ms-flex-pack: end;
    -ms-flex-align: start;
}


/* Widget classes */

input[type="radio"] {
    height: 20px !important;
    width: 20px !important;
}

input[type="checkbox"] {
    height: 24px !important;
    width: 24px !important;
}

input[type="button"] {
    -webkit-appearance: none;
}

input:disabled,
textarea:disabled {
    opacity: 1;
}

img {
    vertical-align: middle;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

div[kwidgettype="Label"] {
    white-space: pre-wrap;
    word-wrap: break-word;
}

div[kwidgettype="Link"]:hover {
    cursor: pointer
}

optgroup>option {
    padding-left: 10px;
}

.konylink {
    text-decoration: none;
}

.konysliderleft {
    background-color: grey;
}

.konysliderright {
    background-color: black;
}

.kstripcontainer {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.kstrip {
    float: left;
    display: inline;
    padding: 0px;
    margin: 0px;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
}


/* switch css */

.switch {
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    display: -webkit-box;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    text-align: center;
    line-height: 25px;
}

.switch .thumb {
    position: relative;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    z-index: 3;
    border: 1px solid #919191;
}

.switch .thumb span {
    display: block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: -moz-linear-gradient(46% 0% 270deg, #cecece, #fbfbfb);
    background-image: gradient(linear, left top, left bottom, from(#cecece), to(#fbfbfb));
    background-image: -ms-linear-gradient(top, #cecece, #fbfbfb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#fbfbfb));
    background-image: -webkit-linear-gradient(top, #cecece, #fbfbfb);
    min-height: 25px;
}

.switch .on {
    color: #fff;
    min-height: 27px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#295ab2', endColorstr='#76adfc');
    background: -moz-linear-gradient(46% 0% 270deg, #295ab2, #76adfc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#295ab2), to(#76adfc));
    background-image: -webkit-linear-gradient(top, #295ab2, #76adfc);
    -moz-border-top-left-radius: 6px;
    -ms-border-top-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid #093889; //padding-right: 4px;
    margin-right: -6px;
}

.switch .off {
    color: #666;
    min-height: 27px;
    background: -moz-linear-gradient(46% 0% 270deg, #b5b5b5, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b5b5b5), color-stop(0.50, #fff));
    background-image: -webkit-linear-gradient(top, #b5b5b5 0%, #fff 50%);
    -moz-border-top-right-radius: 6px;
    -ms-border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #a1a1a1; //padding-left: 4px;
    margin-left: -6px;
}


/* Popup css */

.popupcontainer {
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    bottom: 0;
    top: 0;
}

.popuplayer {
    position: fixed !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popupcontrols {
    position: absolute;
    right: 1px;
    top: 2px;
    cursor: pointer;
}


/* fade css */

.scroll_fades {
    position: absolute;
    z-index: 100;
}

.scroll_view {
    position: absolute !important;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
}

.scrollerX {
    overflow: hidden;
    position: relative;
}

.scrolleeX {
    white-space: nowrap;
}

.scroll_fades {
    position: absolute;
    z-index: 100;
}

.leftfade {
    top: 50%;
    left: 0;
}

.rightfade {
    top: 50%;
    right: 0;
}

.topfade {
    top: 0;
    left: 50%;
}

.bottomfade {
    bottom: 0;
    left: 50%;
}


/* Transitions */

@-o-keyframes slidetopout {
    from {
        -o-transform: translateY(0%);
    }
    to {
        -o-transform: translateY(-100%);
    }
}

@-ms-keyframes slidetopout {
    from {
        -ms-transform: translateY(0%);
    }
    to {
        -ms-transform: translateY(-100%);
    }
}

@-moz-keyframes slidetopout {
    from {
        -moz-transform: translateY(0%);
    }
    to {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes slidetopout {
    from {
        -webkit-transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(-100%);
    }
}

@-o-keyframes slidetopin {
    from {
        -o-transform: translateY(100%);
    }
    to {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes slidetopin {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-moz-keyframes slidetopin {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slidetopin {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes slidebottomout {
    from {
        -o-transform: translateY(0%);
    }
    to {
        -o-transform: translateY(100%);
    }
}

@-ms-keyframes slidebottomout {
    from {
        -ms-transform: translateY(0%);
    }
    to {
        -ms-transform: translateY(100%);
    }
}

@-moz-keyframes slidebottomout {
    from {
        -moz-transform: translateY(0%);
    }
    to {
        -moz-transform: translateY(100%);
    }
}

@-webkit-keyframes slidebottomout {
    from {
        -webkit-transform: translateY(0%);
    }
    to {
        -webkit-transform: translateY(100%);
    }
}

@-o-keyframes slidebottomin {
    from {
        -o-transform: translateY(-100%);
    }
    to {
        -o-transform: translateY(0);
    }
}

@-ms-keyframes slidebottomin {
    from {
        -ms-transform: translateY(-100%);
    }
    to {
        -ms-transform: translateY(0);
    }
}

@-moz-keyframes slidebottomin {
    from {
        -moz-transform: translateY(-100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slidebottomin {
    from {
        -webkit-transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@-o-keyframes slideleftout {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(-100%);
    }
}

@-ms-keyframes slideleftout {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(-100%);
    }
}

@-moz-keyframes slideleftout {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideleftout {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@-o-keyframes slideleftin {
    from {
        -o-transform: translateX(100%);
    }
    to {
        -o-transform: translateX(0);
    }
}

@-ms-keyframes slideleftin {
    from {
        -ms-transform: translateX(100%);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-moz-keyframes slideleftin {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideleftin {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes sliderightout {
    from {
        -o-transform: translateX(0);
    }
    to {
        -o-transform: translateX(100%);
    }
}

@-ms-keyframes sliderightout {
    from {
        -ms-transform: translateX(0);
    }
    to {
        -ms-transform: translateX(100%);
    }
}

@-moz-keyframes sliderightout {
    from {
        -moz-transform: translateX(0);
    }
    to {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes sliderightout {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@-o-keyframes sliderightin {
    from {
        -o-transform: translateX(-100%);
    }
    to {
        -o-transform: translateX(0);
    }
}

@-ms-keyframes sliderightin {
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0);
    }
}

@-moz-keyframes sliderightin {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes sliderightin {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-o-keyframes slidetoprightin {
    from {
        -o-transform: translate3d(100%, -100%, 0);
    }
    to {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slidetoprightin {
    from {
        -ms-transform: translate3d(100%, -100%, 0);
    }
    to {
        -ms-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slidetoprightin {
    from {
        -moz-transform: translate3d(100%, -100%, 0);
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slidetoprightin {
    from {
        -webkit-transform: translate3d(100%, -100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slidetoprightout {
    from {
        -o-transform: translate3d(0, 0, 0);
    }
    to {
        -o-transform: translate3d(-100%, 100%, 0);
    }
}

@-ms-keyframes slidetoprightout {
    from {
        -ms-transform: translate3d(0, 0, 0);
    }
    to {
        -ms-transform: translate3d(-100%, 100%, 0);
    }
}

@-moz-keyframes slidetoprightout {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        -moz-transform: translate3d(-100%, 100%, 0);
    }
}

@-webkit-keyframes slidetoprightout {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
}

@-o-keyframes slidebottomleftin {
    from {
        -o-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -o-transform: translate3d(0, 0, 0);
    }
}

@-ms-keyframes slidebottomleftin {
    from {
        -ms-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -ms-transform: translate3d(0, 0, 0);
    }
}

@-moz-keyframes slidebottomleftin {
    from {
        -moz-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -moz-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slidebottomleftin {
    from {
        -webkit-transform: translate3d(-100%, 100%, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes slidebottomleftout {
    from {
        -o-transform: translate3d(0, 0, 0);
    }
    to {
        -o-transform: translate3d(100%, -100%, 0);
    }
}

@-ms-keyframes slidebottomleftout {
    from {
        -ms-transform: translate3d(0, 0, 0);
    }
    to {
        -ms-transform: translate3d(100%, -100%, 0);
    }
}

@-moz-keyframes slidebottomleftout {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        -moz-transform: translate3d(100%, -100%, 0);
    }
}

@-webkit-keyframes slidebottomleftout {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(100%, -100%, 0);
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes scalein {
    from {
        -o-transform: scale(0);
    }
    to {
        -o-transform: scale(100%);
    }
}

@-ms-keyframes scalein {
    from {
        -ms-transform: scale(0);
    }
    to {
        -ms-transform: scale(100%);
    }
}

@-moz-keyframes scalein {
    from {
        -moz-transform: scale(0);
    }
    to {
        -moz-transform: scale(100%);
    }
}

@-webkit-keyframes scalein {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(100%);
    }
}

@-o-keyframes scaleout {
    from {
        -o-transform: scale(100%);
    }
    to {
        -o-transform: scale(0);
    }
}

@-ms-keyframes scaleout {
    from {
        -ms-transform: scale(100%);
    }
    to {
        -ms-transform: scale(0);
    }
}

@-moz-keyframes scaleout {
    from {
        -moz-transform: scale(100%);
    }
    to {
        -moz-transform: scale(0);
    }
}

@-webkit-keyframes scaleout {
    from {
        -webkit-transform: scale(100%);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-o-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-ms-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-moz-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-webkit-keyframes shrinkvertically {
    from {
        z-index: 2147483647;
        height: 100%;
    }
    to {
        z-index: 2147483647;
        height: 0;
    }
}

@-o-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-ms-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-moz-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}

@-webkit-keyframes expandvertically {
    from {
        z-index: 2147483647;
        height: 0;
    }
    to {
        z-index: 2147483647;
        height: 100%;
    }
}


/* Misc */

*[kdisabled=true] {
    cursor: default;
}

div[name="SelectOption"]:hover {
    background-color: #3169C6;
    color: #FFFFFF;
}

div[name="SelectOptionList"]:hover {
    background-color: #3169C6;
    color: #FFFFFF;
}

.konyplaceholder {
    color: #aaa !important;
}

.klistbox {
    height: 26px;
    line-height: 26px;
    padding-left: 4px;
    border: 1px solid #555555;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.kddicon {
    background-image: url('./images/listboxIcon.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.resizearea {
    background: transparent url(./images/resize.gif) bottom right no-repeat;
    float: right;
    width: 13px;
    height: 13px;
    cursor: nw-resize;
}

.KMenu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.KClear {
    float: none;
    clear: both;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
}

.modern .-k-w-c-today-selected-inrange {
    height: 100%;
    border: 1px solid #F2F2F2;
    background-color: #B3D4FF;
    cursor: pointer;
}

.modern .-k-w-c-today-selected-inrange:hover {
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-k-w-c-today-selected-inrange:active {
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-k-w-c-today-selected-inrange:after {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #f5f5f5;
    border-top-color: rgba(0, 0, 0, 0.2);
    top: 10px;
    right: -6px;
    text-align: end;
    position: relative;
}

.-kony-w-c-selected-inrange {
    height: 100%;
    border: 1px solid #F2F2F2;
    background-color: #B3D4FF;
    cursor: pointer;
}

.-kony-w-c-selected-inrange:hover {
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.-k-w-c-cal-from-date {
    background-color: #357ebd;
    color: White;
}

.-k-w-c-cal-to-date {
    background-color: #357ebd;
    color: White;
}

.-k-w-c-apply-picker {
    color: blue
}

.modern {}

.modern .-kony-w-c-day-label-cell {
    height: 100%;
    font-size: smaller;
    color: #333;
    font-weight: bold;
}

.modern .-kony-w-c-day {
    height: 100%;
    padding: 5px;
    border-radius: 4px;
    font-family: sans-serif;
}

.modern .-kony-w-c-day-skin {
    height: 100%;
    background-color: White;
}

.modern .-kony-w-c-day-:hover {
    background: #eeeeee;
}

.modern .-kony-w-c-day-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-kony-w-c-weekend- {
    height: 100%;
    background-color: White;
}

.modern .-kony-w-c-weekend-:hover {
    background: #eeeeee;
}

.modern .-kony-w-c-weekend-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-kony-w-c-selected- {
    height: 100%;
    background-color: #337ab7;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.modern .-kony-w-c-selected-:hover {
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-kony-w-c-today- {
    background-color: White;
}

.modern .-kony-w-c-today-:hover {
    background: #eeeeee;
}

.modern .-kony-w-c-today-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-kony-w-c-today-:after {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #337ab7;
    border-top-color: rgba(0, 0, 0, 0.2);
    top: 10px;
    text-align: end;
    position: relative;
}

.modern .-k-w-c-today-selected {
    height: 100%;
    background-color: #337ab7;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.modern .-k-w-c-today-selected:hover {
    background-color: #426FD9;
    color: White;
    cursor: pointer;
    border: 1px solid White;
}

.modern .-k-w-c-today-selected:active {
    background-color: #B3D4FF;
    color: #f5f5f5;
    cursor: pointer;
}

.modern .-k-w-c-today-selected:after {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #f5f5f5;
    border-top-color: rgba(0, 0, 0, 0.2);
    top: 10px;
    right: -6px;
    text-align: end;
    position: relative;
}

.modern .-kony-w-c-popup-container {
    width: 300px;
    height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modern .-kony-w-c-topSection {
    height: 23%;
    width: 100%;
}

.modern .-k-w-c-inactive {
    height: 100%;
    padding: 5px;
    color: #777777;
    border-radius: 4px;
    font-family: sans-serif;
}

.modern.-k-w-c-datepicker-holder-main {
    background-color: White;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    line-height: 20px;
    min-width: 160px;
    font-family: inherit;
    color: #333;
    text-align: center;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    margin: 2px 0px 2px 0px;
    padding: 4px;
    font-size: 16px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.modern .-kony-w-c-navigator-month,
.modern .-kony-w-c-navigator-year {
    background-color: White;
    font-size: 14px;
    display: inline-block;
    width: 54px;
    line-height: 30px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 4px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modern .-kony-w-c-navigator-month:hover,
.modern .-kony-w-c-navigator-year:hover {
    background: #eeeeee;
    color: #777777;
}

.modern .-k-w-c-datepicker-navigator {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    color: #333;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
}

.modern .-kony-w-c-navigator-month-selected,
.modern .-kony-w-c-navigator-year-selected {
    background-color: #337ab7;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.modern .-k-w-c-nav-selected-ym {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.legacy {}

.legacy .-kony-w-c-day-label-cell {
    height: 100%;
    font-size: smaller;
    color: gray;
    font-weight: bold
}

.-kony-w-c-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

.-kony-w-c-row {
    display: table-row;
}

.-kony-w-c-table {
    display: table;
    table-layout: fixed;
}

.-kony-w-c-day-table {
    height: 16.66%;
    width: 100%;
}

.kony-w-c-actualDates {
    height: 80%;
    width: 100%;
}

.legacy .-kony-w-c-day- {
    height: 100%;
}

.legacy .-kony-w-c-day-skin {
    height: 100%;
    border: 1px solid #F2F2F2;
    background-color: White;
    font-weight: bold;
}

.legacy .-kony-w-c-day-:hover {
    background-color: #426FD9;
    color: White;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-day-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-weekend- {
    height: 100%;
    border: 1px solid #DEDEDE;
    background-color: White;
    font-weight: bold;
    color: Green;
}

.legacy .-kony-w-c-weekend-:hover {
    background-color: #426FD9;
    color: White;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-weekend-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-selected- {
    height: 100%;
    border: 1px solid #F2F2F2;
    background-color: #B3D4FF;
    cursor: pointer;
}

.legacy .-kony-w-c-selected-:hover {
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-today- {
    height: 100%;
    border: 1px solid Black;
    background-color: White;
}

.legacy .-kony-w-c-today-:hover {
    background-color: #426FD9;
    color: White;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-today-:active {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-kony-w-c-popup-container {
    width: 300px;
    height: 300px;
    font-size: small;
}

.legacy .-kony-w-c-topSection {
    border: 1px solid #F2F2F2;
    height: 20%;
    width: 100%;
}

.-kony-w-c-title {
    height: auto;
    width: 100%;
}

.legacy .-k-w-c-inactive {
    height: 100%;
    background-color: #F8F8F8;
}

.-k-w-c-left-nav-img,
.-k-w-c-right-nav-img {
    height: 50%;
    width: 50%
}

.-kony-w-c-yemo-skin {
    font-weight: bold;
    font-size: Normal;
    cursor: pointer;
}

.legacy.-k-w-c-datepicker-holder-main {
    background-color: White;
}

.-kony-w-c-prev-nav,
.-kony-w-c-next-nav {
    cursor: pointer;
}

.legacy .-kony-w-c-navigator-month,
.legacy .-kony-w-c-navigator-year {
    border: 1px solid #F2F2F2;
    background-color: White;
    font-size: smaller;
    color: gray;
    font-weight: bold;
}

.legacy .-kony-w-c-navigator-month:hover,
.legacy .-kony-w-c-navigator-year:hover {
    background-color: #426FD9;
    color: White;
    cursor: pointer;
    border: 1px solid White;
    font-size: smaller;
}

.legacy .-k-w-c-datepicker-navigator {
    border: 1px solid #FAFAFA;
}

.legacy .-kony-w-c-navigator-month-selected,
.legacy .-kony-w-c-navigator-year-selected {
    background-color: #B3D4FF;
    color: Black;
    cursor: pointer;
    border: 1px solid White;
}

.legacy .-k-w-c-nav-selected-ym {
    font-size: smaller;
    color: Green;
    font-weight: bold
}

.-k-w-c-cal-title {
    text-align: center;
    width: 100%;
    line-height: 30px;
    height: 30px;
    font-size: small;
}

.-k-w-c-close-picker {
    color: red;
}


/*for supporting dockable headers and footers*/

.absoluteContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.form_scroller {
    position: absolute;
    z-index: 1;
    /*
    left: 0;
    right: 0;
    */
    width: 100%;
    overflow: hidden;
}

.header_scroller {
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
}

.footer_scroller {
    z-index: 6;
    bottom: 0;
    left: 0;
    width: 100%;
}

.appmenu_scroller {
    z-index: 8;
    bottom: 0;
    left: 0;
    width: 100%;
}

.form_nativeScroller {
    z-index: 1;
    position: relative;
}

.main_container {
    position: absolute;
    left: 0;
    top: 0;
}

.relativePos {
    position: relative;
}

.fixedPos {
    position: fixed;
}

div[kwidgettype="RadioButtonGroup"],
div[kwidgettype="CheckBoxGroup"] {
    white-space: pre-wrap;
}

.enableSelection {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.disableSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.responsive {
    overflow-x: hidden;
}

.jasmine_html-reporter {
    display: none;
}

input[kplaceholderskin]::-moz-placeholder {
    line-height: -moz-block-height !important;
}

.container-horiz {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.container-horiz>* {
    flex-shrink: 0;
    overflow-wrap: break-word;
    position: relative;
}

.container-horiz-reverse {
    flex-direction: row-reverse;
}

.container-freeform {
    position: relative;
}

.container-freeform>* {
    position: absolute;
}

.container-vert {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.container-vert>* {
    flex-shrink: 0;
    overflow-wrap: break-word;
    position: relative;
}

.container-vert-reverse {
    flex-direction: column-reverse;
}